* {
    box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
li,
ul,
ol,
p {
    margin: 0;
    padding: 0;
}

html {
    background-color: lightgray;
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    max-width: 2290px;
    min-width: 100vw;
    max-height: 100px;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(43, 43, 143);
    color: white;
    box-shadow: 4px 4px 20px 0px black;
}


.location-input {
    align-self: center;
}


.logo {
    font-size: 3rem;
    min-width: 592px;
    flex: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    min-height: 100vh;
    min-width: 100vw;
    padding: 0;
    margin: 0;
}

form {
    display: flex;
    gap: 20px;
    font-size: 2rem;
    align-self: center;
}

input::placeholder {
    color: white;
}

input {
    font-size: 2rem;
    border-radius: 10px;
    border: none;
    background-color: rgb(101, 101, 141);
    padding: 5px;
    color: white;
}

.submit-button {
    font-size: 1.5rem;
    padding: 10px;
    background-color: rgb(12, 12, 58);
    border: none;
    border-radius: 50%;
}

.submit-button:hover {
    background-color: rgb(45, 45, 204);
}

#content-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-shadow: 1px 1px 3px black;
}

.top-content-container {
    border: 5px solid rgb(95, 95, 95);
    border-radius: 10px;
    background-color: black;
    background-size: 1025px 556px;
    background-repeat: no-repeat;
    color: rgb(255, 255, 255);
}

.location-header {
    font-size: 3.5rem;
}

.current-card {
    padding: 30px;
    display: flex;
    flex-direction: column;
    max-width: 1025px;
    max-height: 556px;
}

.weather-icon {
    font-size: 10rem;
    color: white;
}

.descrip-BG {
    background-color: black;
    padding: 10px;
    opacity: 80%;
    border-radius: 0 0 10px 10px;
}

.current-date {
    background-color: rgb(221, 100, 1);
    align-self: flex-start;
    padding: 8px;
    border-radius: 10px;
}

.weather-descrip {
    opacity: 100%;
}

.weather-temp {
    font-size: 3rem;
}

.day-group {
    display: flex;
    list-style: none;
    gap: 25px;
    font-size: 1.5rem;
}

.day {
    display: flex;
    flex-direction: column;
    text-align: center;
    border-radius: 10px;
    color: white;
    min-width: 150px;
}

.day-date {
    background-color: rgb(221, 100, 1);
    border-radius: 10px 10px 0 0;
}

.day-temp {
    background-color: rgb(55, 100, 221);
}

.day-icon {
    font-size: 5rem;
    background-color: rgb(165, 201, 201);
    border-radius: 0 0 10px 10px;
    max-height: 150px;
    flex: 1;
}

.day,
.top-content-container {
    box-shadow: 0px 0px 9px 0px black;
}

.day-title,
.current-title {
    color: darkslategrey;
}

.loading-message {
    font-size: 4rem;
}
